## Ejercicio 1: Creación de diccionarios de Python.

##### Crea un diccionario llamado planet con los datos propuestos.

In [1]:
planets = {'name':'Mars', 'Moons':2}

##### Muestra el nombre del planeta y el número de lunas que tiene.

In [3]:
print(f"{planets['name']} tine {planets['Moons']} lunas")

Mars tine 2 lunas

##### Agrega la clave circunferencia con los datos proporcionados previamente.

In [4]:
planets['Circunferencia (km)'] = {'Polar': 6752, 'Ecuatorial': 6792}

##### Imprime el nombre del planeta con su circunferencia polar.

In [7]:
print(f"{planets['name']} tine una circunferencia polar de {planets['Circunferencia (km)']['Polar']}")

Mars tine una circunferencia polar de 6752

## Ejercicio 2: Programación dinámica con diccionarios.

##### Planets and moons.

In [8]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

##### Código para determinar el número de lunas.

In [10]:
moons = planet_moons.values()
planetas = planet_moons.keys()

##### Agrega el código para contar el número de lunas.

In [15]:
totalmoons = 0
for item in moons:
    totalmoons = totalmoons + item
print(f"Existen un total de {totalmoons} lunas en el sistema solar, es decir un promedio de {totalmoons/len(moons)} lunas.")

Existen un total de 214 lunas en el sistema solar, es decir un promedio de 17.833333333333332 lunas.